//  body {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     height: 100vh;
//     background: #222;
//   }

  .rotating-text p {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
//   .rotating-text p {
//     display: inline-flex;
//     margin: 0;
//     vertical-align: top;
//   }
.rotating-text p .word {
  position: absolute;
  display: flex;
  opacity: 0;
  color: $prim-white;
  font-weight: 800;
  font-style: normal;
  font-size: 96px;
  line-height: 1;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
  //   justify-content: center;
  //   align-items: center;
  @media screen and (max-width: 1500px) {
   font-size: 72px; 
  }
  @media screen and (max-width: 750px) {
    font-size: 48px;

  }
  @media screen and (max-width: 543px) {
    font-size: 32px;
  }
}
// .rotating-text p .word .letter {
//   // transform-origin: center center 25px;
// }
.rotating-text p .word .letter.out {
  transform: rotateX(90deg);
  transition: 0.32s cubic-bezier(0.6, 0, 0.7, 0.2);
}
.rotating-text p .word .letter.in {
  transition: 0.38s cubic-bezier(0.6, 0, 0.7, 0.2);
  &.__long {
    transition: 0.1s cubic-bezier(0.6, 0, 0.7, 0.2);
  }
}
.rotating-text p .word .letter.behind {
  transform: rotateX(-90deg);
}
