.clients {
  margin: 0 auto;
  z-index: 1;
  position: relative;
padding: 0 15px;
}
.clients__container {
  margin: 0 auto;
  max-width: 1500px;
}
.clients__title {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;

  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 110%;
  /* or 70px */

  letter-spacing: 0.01em;

  color: #000000;
  margin-bottom: 103px;
  @media screen and (max-width: 750px) {
    font-size: 32px;
    margin-bottom: 40px;
  }
}
.clients__baner {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
//   justify-content: space-between;
  width: 100%;
  max-width: 1226px;
  background: #ffffff;
  box-shadow: 0px 25px 100px -10px rgba(110, 118, 129, 0.2);
  border-radius: 11px;
  padding: 81px 89px 55px 85px;
  // overflow: hidden;
  position: relative;
  @media screen and (max-width: 750px) {
    padding: 25px 30px;
    max-width: 750px;
  }
  @media screen and (max-width: 543px) {
    max-width: 543px;
    height: auto;
  }
}
.clients__baner__content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 750px;
  flex-direction: column;
  
}
.clients__baner__text-contain {
  display: flex;
  flex-direction: column;
  max-width: 597px;
  @media screen and (max-width: 750px) {
    max-width: 300px;
    // margin-bottom: 20px;
  }
  @media screen and (max-width: 543px) {
    max-width: 543px;
    width: 100%;
    // margin-bottom: 20px;
  }
}
.clients__baner__link {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.31;
  text-align: left;
  margin: 0;
  margin-left: 57px;

  position: relative;

  color: #000000;
  &::before {
    position: absolute;
    top: -20px;
    left: -57px;
    content: "https://www.";
    font-style: normal;
    color: rgba(51, 196, 250, 0.45);
  }
  @media screen and (max-width: 750px) {
    font-size: 24px;
    &::before {
      top: -10px;
    }
    // margin-bottom: 20px;
  }
  @media screen and (max-width: 543px) {
    margin: 0 auto;
    // margin-bottom: 20px;
  }
}
.clients__baner__description {
  margin-top: 50px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 1.33;
  color: #6e7681;
  @media screen and (max-width: 750px) {
    font-size: 16px;
    margin-top: 20px;
  }
}
.clients__baner__title {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 1;
  /* identical to box height, or 100% */

  margin-top: 54px;
  color: #58c3ff;
  @media screen and (max-width: 750px) {
    font-size: 24px;
    margin-top: 25px;
  }
}
.clients__list {
  display: flex;
  flex-wrap: nowrap;
  max-width: 670px;
  padding: 0;
  margin: 44px 0 0 0;
  @media screen and (max-width: 750px) {
   margin-top: 25px;
    // margin-bottom: 20px;
  }
  @media screen and (max-width: 543px) {
    // max-width: 543px;
    width: 100%;
    overflow: hidden;
    // margin-bottom: 20px;
  }
}
.clients__item {
  position: relative;
  margin-right: 41px;
  &:last-child() {
    margin: 0;
  }
  &::before {
    content: "";
    background-image: url("../images/beforePoints.svg");
    background-position: center;
    background-size: cover;
    width: 63%;
    height: 4px;
    position: absolute;
    top: -19px;
  }
  @media screen and (max-width: 750px) {
    margin-right: 25px;
    // margin-bottom: 20px;
  }
  @media screen and (max-width: 543px) {
    // min-width: 50vw;
    // margin-right: auto;
    // margin-left: auto;
    // width: 250px;
    // max-width: 250px;
    // overflow-x: scroll;
    // margin-bottom: 20px;
  }
}
.clients__item__name {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 18px;
  /* or 150% */

  color: #24292f;
}
.clients__item__descriptions {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  /* or 187% */

  color: #6e7681;
}
.clients__btn-contain {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  @media screen and (max-width: 543px) {
display: none;    
  }
}
.clients__slide__btn-contain {
  display: flex;
  flex-wrap: nowrap;
}
.slider__btn {
  padding: 0;
  width: 40px;
  height: 40px;
  margin-right: 40px;

  border: none;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  &.__next {
    transform: rotate(180deg);
  }
}
.prog__btn {
  padding: 0;
  border: none;
  background: none;
  & > a {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

    color: #2dd7fa;
    & > span {
      font-weight: lighter;
      margin-left: 16px;
    }
  }
}

.slider {
  max-width: 100%;
  position: relative;
  margin: 0;
  // height: 300px;
  margin-bottom: 15px;
}
/* Картинка мастабируется по отношению к родительскому элементу */
.slider .client__slide {
//   object-fit: cover;
  width: 100%;
  margin: 0;
  padding: 0;
//   max-width: 700px;
 
}
.client__slide {
    display: flex;
    margin: 0;
    flex-direction: row;
    flex-wrap: nowrap;
    // max-width: ;
    @media screen and (max-width: 543px) {
      flex-direction: column-reverse;
    }
}
.client_slide_text_content {
    display: flex;
    flex-direction: column;
}

/* Анимация слайдов */
.slider .client__slide {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.client__btn-contain__mob {
display: flex;
// max-width: 300px;
width: 100%;
margin: 0 auto;
}
.client__btn__mob {
width: 100px;
height: 50px;
margin-right: 10px;
border-radius: 5px;

border: none;
&:last-child {
  margin-right: 0;
}
&.bgc1 {
  background: url('../images/img11.png');
  background-position: center;
background-size: cover;
}
&.bgc2 {
  background: url('../images/img21.png');
  background-position: center;
background-size: cover;
}
&.bgc3 {
  background: url('../images/img31.png');
  background-position: center;
background-size: cover;
}
&.bgc4 {
  background: url('../images/img41.png');
  background-position: center;
background-size: cover;
}
&.bgc5 {
  background: url('../images/img51.png');
  background-position: center;
background-size: cover;
}
}