.competitors {
    margin: 0 auto;
    padding-top: 47px;
    padding-bottom: 250px;
}
.competitors__container {
    position: relative;
    margin: 0 auto;
    // &::before {
    //     content: '';
    //     background-image: url('../images/Polygon.png');
    //     width: 100px;
    //     height: 100px;
    //     position: absolute;
    // }
}
.competitors__baner {
    // width: 100%;
    max-width: 1480px;
    height: 624px;
    margin: 0 auto;
    background: content-box url('../images/baner.png');
    background-size: cover;
//    background-position:top;

    // box-shadow: 0px 55px 100px rgba(0, 0, 0, 0.25);
    filter: drop-shadow(0px 55px 100px rgba(0, 0, 0, 0.25));
border-radius: 11px;
// transform: rotate(-180deg);
}
.competitors_title {
    padding-top: 100px;
    font-style:700;
font-weight: 900;
font-size: 48px;
line-height: 110%;
/* identical to box height, or 53px */

text-align: center;
letter-spacing: 0.01em;

color: #FFFFFF;
}
.competitors__text {
    font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 110%;
margin: 34px auto 35px auto;
/* or 40px */
max-width:800px;
text-align: center;

color: #FFFFFF;
&>span {
    font-weight: 700;  
}
}
.competitors__btn {
    margin: 0 auto;
    display: inline-block;
}