.competitors {
  margin: 0 auto;
  padding-top: 247px;
  padding-bottom: 250px;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  @media screen and (max-width: 750px) {
    padding-top: 167px;
    padding-bottom: 150px;
  }
  @media screen and (max-width: 543px) {
    padding-bottom: 100px;
    padding-top: 120px;
  }
}
.competitors__container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  position: relative;
  max-width: 1500px;
  z-index: 10;
  transition: transform 750ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (max-width: 750px) {
    max-width: 750px;
  }
  @media screen and (max-width: 543px) {
    max-width: 543px;
  }
}
.competitors__baner {
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
  padding: 63px 90px 49px 90px;
  background: radial-gradient(circle at top left, #4a42ec 0%, #521d91 100%);
  background-color: #521d91;
  background-size: cover;
  // z-index: 1;
  // position: relative;
  // filter: drop-shadow(0px 55px 100px rgba(0, 0, 0, 0.25));
  border-radius: 11px;
  box-shadow: 0 48px 48px -32px rgba(23, 16, 159, 20%),
    0 96px 96px -64px rgba(3, 2, 20, 60%);
  @media screen and (max-width: 543px) {
    padding: 30px 30px 30px 30px;
  }
}
.bg-poli {
  content: url("../images/Polygon.png");
  width: 46vw;
  height: 46vw;
  position: absolute;
  z-index: -1000 !important;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  left: -10vw;
  top: -10vw;
}
.bg-ball__ban {
  content: url("../images/bg-ball1.png");
  width: 27vw;
  height: 27vw;
  position: absolute;
  z-index: -1000 !important;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  right: -10vw;
  bottom: -10vw;
  @media screen and (max-width: 750px) {
    width: 300px;
    height: 300px;
  }
  @media screen and (max-width: 543px) {
    width: 150px;
    height: 150px;
  }
}
.banner__overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 200vw;
  height: 200vw;
  background-color: #5738c7c4;
  z-index: -5;
  opacity: 0;
  pointer-events: none;
  transition: opacity 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
.competitors_title {
  font-style: 700;
  font-weight: 900;
  font-size: 48px;
  line-height: 110%;
  /* identical to box height, or 53px */

  text-align: center;
  letter-spacing: 0.01em;

  color: #ffffff;
  @media screen and (max-width: 750px) {
    font-size: 32px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (max-width: 543px) {
    font-size: 26px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
}
.competitors__text {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 110%;
  margin: 34px auto 35px auto;
  /* or 40px */
  max-width: 800px;
  text-align: center;

  color: #ffffff;
  & > span {
    font-weight: 700;
  }
  @media screen and (max-width: 750px) {
    font-size: 16px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
    margin-bottom: 16px;
  }
}
.competitors__btn {
  margin: 0 auto;
  display: flex;
  width: 226px;

  height: 63px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  border-radius: 34.5px;
  background: none;
  color: #ffffff;
  justify-content: center;
  align-items: center;
  outline: none;
  border: 2px solid #ffffff;
  &:hover,
  &:focus {
    background-color: aquamarine;
    color: black;
  }
  @media screen and (max-width: 543px) {
    width: 180px;
    height: 50px;
    font-size: 16px;
  }
}
