.img__container {
  position: relative;
  height: 275px;
  width: 423px;
  margin: 0 auto;
}
.animate-img {
  position: absolute;
  height: 275px;
  width: 423px;
  left: 0;
  transition: opacity 0.5s ease-in-out;
}
.first-img {
  animation-name: cf3FadeInOut;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 7s;
  animation-direction: alternate;
  z-index: 1;
}
@keyframes cf3FadeInOut {
  0% {
    opacity: 1;
  }
  45% {
    opacity: 1;
  }
  55% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
// #img_container {
//     position:relative;
//     height:281px;
//     width:450px;
//     margin:0 auto;
//     }
    
//     #img_container img {
//     position:absolute;
//     left:0;
//     -webkit-transition: opacity 1s ease-in-out;
//     -moz-transition: opacity 1s ease-in-out;
//     -o-transition: opacity 1s ease-in-out;
//     transition: opacity 1s ease-in-out;
//     }
    
//     @-webkit-keyframes cf3FadeInOut {
//     0% {
//     opacity:1;
//     }
//     45% {
//     opacity:1;
//     }
//     55% {
//     opacity:0;
//     }
//     100% {
//     opacity:0;
//     }
//     }
    
//     @-moz-keyframes cf3FadeInOut {
//     0% {
//     opacity:1;
//     }
//     45% {
//     opacity:1;
//     }
//     55% {
//     opacity:0;
//     }
//     100% {
//     opacity:0;
//     }
//     }
    
//     @-o-keyframes cf3FadeInOut {
//     0% {
//     opacity:1;
//     }
//     45% {
//     opacity:1;
//     }
//     55% {
//     opacity:0;
//     }
//     100% {
//     opacity:0;
//     }
//     }
    
//     @keyframes cf3FadeInOut {
//     0% {
//     opacity:1;
//     }
//     45% {
//     opacity:1;
//     }
//     55% {
//     opacity:0;
//     }
//     100% {
//     opacity:0;
//     }
//     }
    
//     #img_container img.top {
//     -webkit-animation-name: cf3FadeInOut;
//     -webkit-animation-timing-function: ease-in-out;
//     -webkit-animation-iteration-count: infinite;
//     -webkit-animation-duration: 5s;
//     -webkit-animation-direction: alternate;
    
//     -moz-animation-name: cf3FadeInOut;
//     -moz-animation-timing-function: ease-in-out;
//     -moz-animation-iteration-count: infinite;
//     -moz-animation-duration: 5s;
//     -moz-animation-direction: alternate;
    
//     -o-animation-name: cf3FadeInOut;
//     -o-animation-timing-function: ease-in-out;
//     -o-animation-iteration-count: infinite;
//     -o-animation-duration: 5s;
//     -o-animation-direction: alternate;
//     animation-name: cf3FadeInOut;
//     animation-timing-function: ease-in-out;
//     animation-iteration-count: infinite;
//     animation-duration: 5s;
//     animation-direction: alternate;
//     z-index: 2;
//     }
