.service {
 @extend %auto-margin;
    padding-top: 150px;
}
.service__container {
@extend %auto-margin;
max-width: 1260px;
width: 100%;
}
.service__title {
    color: $prim-black;
    font-style: normal;
font-weight: bold;
font-size: 64px;
line-height: 110%;

letter-spacing: 0.01em;
    & >span {
color: $prim-white;
position: relative;
&::before {
    content: '';
    position: absolute;
    background-image: url('../images/bg-ball1.png');
width: 210px;
height: 210px;
top:50%;
left: 50%;
transform: translate(-35%, -50%);
z-index: -1;
}

    }
}
.service__content {
    display: flex;
    margin-top: 49px;
    
}
.service__list {
    margin: 0;
}
.service__item {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.25;
    letter-spacing: 0.01em;
    padding: 17px 0 26px 24px;
    
    width: 250px;
    
    color: #949DA7;
    &__current {
        background-color: #F6F8FA;
        border-radius: 4px;
color: $prim-black;
    }
} 
.service__content__list {
    width: 0px;
    height: 0px;
    margin: 0;
    overflow: hidden;
    display: none;
    &__active{
        display: flex;
        width: 100%;
        height: auto;
        flex-wrap: wrap;
        // margin-top: 20px;
        // margin: -129px;
    } 

}
.service__content__item {
    width: calc((100% - 129px)/2);
    margin-right: 129px;
    z-index: 1;
    &:nth-child(2n) {
        margin: 0;
    }
} 
.service__content__title {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 150%;
    width: 100%;
    /* or 36px */
    
    letter-spacing: 0.01em;
    
    color: #000000;  
}
.service__content__text {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    /* or 24px */
    
    letter-spacing: 0.01em;
    
    color: #949DA7;
}