.service {
  @extend %auto-margin;
  padding-top: 150px;
}
.service__container {
  @extend %auto-margin;
  padding: 0 15px;
  max-width: 1260px;
  width: 100%;
  @media screen and (max-width: 750px) {
    max-width: 750px;
  }
  @media screen and (max-width: 543px) {
    max-width: 543px;
  }
}
.service__title {
  color: $prim-black;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 110%;

  letter-spacing: 0.01em;
  @media screen and (max-width: 750px) {
    font-size: 32px;
    padding-left: 50px;
  }
    @media screen and (max-width: 543px) {
      padding: 0;
      text-align: center;
      max-width: 520px;
    }
  & > span {
    color: $prim-white;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      background-image: url("../images/bg-ball1.png");
      width: 210px;
      height: 210px;
      top: 50%;
      left: 50%;
      transform: translate(-35%, -50%);
      z-index: -5;
      @media screen and (max-width: 750px) {
        width: 110px;
        height: 110px;
        background-size: contain;
      }
    }
  }
}
.service__content {
  display: flex;
  margin-top: 49px;
  
  @media screen and (max-width: 750px) {
    display: flex;
   
  }
  @media screen and (max-width:543px) {
   position: relative;
   
  }
}
.service__list {
  margin: 0;
  padding: 0;
height: max-content;
position: -webkit-sticky;
    position: sticky;
    top: 20px;
    @media screen and (max-width: 543px) {
      position: relative;
      padding: 0;
    width: 100%;
    max-width: 543px;
    height: 100%;
    }
}
.service__item {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.25;
  letter-spacing: 0.01em;
  padding: 17px 0 26px 24px;
  cursor: pointer;
  width: 250px;
  color: #949da7;
  @media screen and (max-width: 750px) {
    font-size: 16px;
    max-width: 200px;
    padding: 10px 10px;
    
  }
  @media screen and (max-width: 543px) {
    width: 100%;
    max-width: 543px;
    height: auto;
    margin: 0 auto;
    background-color: #f6f8fa;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 15px;
    position: relative;
    &::after {
      content: '';
      width: 25px;
      height: 25px;
      background: url('../images/iconbut.svg');
      background-position: right;
      background-repeat: no-repeat;
      background-size: cover;
      
      position: absolute;
      right: 10px;
    }
  }
  &__current {
    background-color: #f6f8fa;
    border-radius: 4px;
    color: $prim-black;
    
  }
}
.btn__close {
  position: absolute;
  right: 20px;
  top: 20px;
  padding: 0;
  width: 40px;
  height: 40px;
  background: none;
  z-index: 999;
  border-radius: 50%;
  background: url('../images/Group_99.svg');
  background-size: contain;
  transform: rotate(45deg);
  border: none;
  @media screen and (min-width: 544px) {
    display: none;
    
  }
  // content: url('../images/iconbut.svg')
}
.service__content__list {
  width: 0px;
  height: 0px;
  margin: 0;
  overflow: hidden;
  display: none;
  @media screen and (max-width: 543px) {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(255, 255, 255);
    // opacity: 0.5;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    transform: translateX(-100%);
    transition: transform 0.8s;
    flex-direction: column;
    padding: 50px;
    overflow-y: scroll;
    box-sizing: border-box;
  }
  &__active {
    display: flex;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    
    @media screen and (max-width: 543px) {
      overflow-y: scroll;
      transform: translateX(0);
    }
    
  }
}
.service__content__list__content {
  display: flex;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  overflow-y: auto;
  
}
.service__content__item {
  width: calc((100% - 129px) / 2);
  margin-right: 129px;
  &:nth-last-child(2n) {
     margin: 0;
  }
  // z-index: 1;
  // &:nth-child(2n) {
  //  
  // }
  @media screen and (max-width: 750px) {
    width: 100%;
    margin: 0 0 20px 0;
    
    &:nth-child(2n) {
      margin-bottom: 20px;
    }
  }
  @media screen and (max-width: 543px) {
    width: 100%;
    margin-bottom: 20px;
    &:nth-child(2n) {
      margin-bottom: 20px;
    }
  }
}
.service__content__title {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 150%;
  width: 100%;
  /* or 36px */

  letter-spacing: 0.01em;

  color: #000000;
  @media screen and (max-width: 750px) {
    margin-bottom: 10px;
  }
}
.service__content__text {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */

  letter-spacing: 0.01em;

  color: #949da7;
}
